<div class = "form container">
  <%= form_for(list) do |f| %>
    <div class= "form-group">
      <%= f.label :name, "我想完成" %>
      <%= f.text_field :name %> <br />
    </div>

    <div class= "form-group">
      <%= f.label :date, "幾月幾日" %>
      <%= f.text_field :date %> <br />
    </div>
    
    <div class= "form-group">
      <%= f.label :note, "細節詳情" %>
      <%= f.text_field :note %> <br />
    </div>

    <%= f.submit %>
  <% end %>
</div>